// CSS for base classes

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  padding: 20px 30px;
}

main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: justify;
}
