// CSS for base classes

$font-family: -apple-system, BlinkMacSystemFont, sans-serif;
$text-color: white;
$primary-color: teal;
$secondary-color: white;
$body-background: rgba(232, 236, 241, 1);
$header-background: rgba(46, 49, 49, 1);
$primary-padding: 25px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 20px;
}
