<footer>
  <div class="button__back">🔙</div>
  <ul class="footer__social-media">
    <li class="social-media__icon">
      Github
      <a href="#" class="social-media__link"></a>
    </li>
    <li class="social-media__icon">
      Twitter
      <a href="#" class="social-media__link"></a>
    </li>
    <li class="social-media__icon">
      LinkedIn
      <a href="#" class="social-media__link"></a>
    </li>
    <li class="social-media__icon">
      Codepen
      <a href="#" class="social-media__link"></a>
    </li>
  </ul>
</footer>
