<header>
  <div class="header__icon">Sebastian Neumair</div>
  <ul class="nav">
    <li class="nav__item">About Me</li>
    <li class="nav__item">Projekte</li>
    <li class="nav__item">Blog</li>
    <li class="nav__item">Kontakt</li>
  </ul>
</header>
