<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Personal Website Sebastian Neumair" />
    <meta
      name="keywords"
      contents="sebastian neumair, neuefische, swim, bike,
      run"
    />
    <meta name="author" content="Sebastian Neumair" />
    <title>Hello World! 👋</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../Deprecated/img/favicon_io/favicon-16x16.png"
    />
  </head>

  <body class="grid">
    <%- include('components/header') %> <%- include('components/home') %> <%-
    include('components/footer') %>
    <script src="/js/main.js"></script>
  </body>
</html>
