.paddingLeftRight {
  padding-left: 20px;
  padding-right: 20px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px; }

body {
  display: grid;
  grid-template: 90px 1fr 40px/repeat(2, 1fr);
  grid-template-areas: "header header" "main main" "footer footer";
  overflow: hidden;
  background: #e8ecf1; }
  @media (max-width: 750px) {
    body .menu--mobile {
      display: flex; }
    body .nav {
      display: none; } }

main {
  grid-area: main;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: justify;
  padding: 25px; }
  main::after {
    position: fixed;
    content: "";
    bottom: 40px;
    left: 0;
    overflow-y: hidden;
    height: 10%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 90%); }

.grid {
  display: grid;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.flex {
  display: flex; }

footer {
  display: flex;
  align-items: center;
  grid-area: footer;
  background: #2e3131;
  color: white;
  padding-left: 25px;
  padding-right: 25px; }

.footer__social-media {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none; }

.button__back {
  width: 50px;
  height: 50px;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background: tomato;
  color: black;
  font-size: 2em;
  position: fixed;
  left: 20px;
  bottom: 60px;
  border-radius: 90%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out, box-shadow 2s linear; }
  .button__back:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

header {
  display: flex;
  grid-area: header;
  width: 100vw;
  background: #2e3131;
  color: white;
  text-transform: uppercase;
  align-items: flex-end;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px; }

.header__icon {
  font-size: 1.5em;
  letter-spacing: 5px; }

.nav {
  display: flex;
  width: 100%;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 5px; }

.nav__item {
  list-style: none; }

.menu--mobile {
  display: none;
  position: relative;
  margin-left: auto;
  grid-area: mobilemenu;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 50%; }

.menu__icon--mobile {
  position: absolute;
  height: 10px;
  background: white;
  width: 60%;
  height: 4px;
  transition: transform 0.4s ease; }
  .menu__icon--mobile::before, .menu__icon--mobile::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 4px;
    width: 100%;
    background: inherit; }
  .menu__icon--mobile:after {
    top: 10px; }

.menu__toggle {
  opacity: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  cursor: pointer; }
  .menu__toggle:checked ~ .menu__icon--mobile {
    transform: rotate(135deg); }
  .menu__toggle:checked:hover ~ .menu__icon--mobile {
    transform: rotate(225deg); }
  .menu__toggle:checked ~ .menu__icon--mobile::before,
  .menu__toggle:checked ~ .menu__icon--mobile::after {
    top: 0;
    transform: rotate(90deg); }

/*# sourceMappingURL=style.css.map */